/* glue: 0.11.1 hash: c39175a1de */
        .sprite-icons-bgcasino,
.sprite-icons-nodots,
.sprite-icons-machine,
.sprite-icons-sun,
.sprite-icons-sky,
.sprite-icons-horse,
.sprite-icons-6i,
.sprite-icons-5i,
.sprite-icons-3i,
.sprite-icons-2i,
.sprite-icons-1i,
.sprite-icons-4i,
.sprite-icons-sun1,
.sprite-icons-monster,
.sprite-icons-dd,
.sprite-icons-cbh,
.sprite-icons-9,
.sprite-icons-8,
.sprite-icons-7,
.sprite-icons-6,
.sprite-icons-5,
.sprite-icons-4,
.sprite-icons-3,
.sprite-icons-2,
.sprite-icons-14,
.sprite-icons-13,
.sprite-icons-12,
.sprite-icons-11,
.sprite-icons-10,
.sprite-icons-1,
.sprite-icons-loading,
.sprite-icons-vinyl,
.sprite-icons-hallo,
.sprite-icons-qm,
.sprite-icons-gradient {
            background-image: url('icons.png');
            background-repeat: no-repeat;
        }
        
        .sprite-icons-bgcasino {
            background-position: 0 0;
            width: 4992px;
            height: 3520px;
        }
        
        .sprite-icons-nodots {
            background-position: -4992px 0;
            width: 4961px;
            height: 3508px;
        }
        
        .sprite-icons-machine {
            background-position: 0 -3520px;
            width: 4961px;
            height: 3508px;
        }
        
        .sprite-icons-sun {
            background-position: -4961px -3520px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-sky {
            background-position: 0 -7028px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-horse {
            background-position: -3508px -7028px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-6i {
            background-position: -9953px 0;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-5i {
            background-position: -9953px -2480px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-3i {
            background-position: -9953px -4960px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-2i {
            background-position: 0 -9508px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-1i {
            background-position: -3508px -9508px;
            width: 3508px;
            height: 2480px;
        }
        
        .sprite-icons-4i {
            background-position: -7016px -7028px;
            width: 2580px;
            height: 2480px;
        }
        
        .sprite-icons-sun1 {
            background-position: -9953px -7440px;
            width: 1030px;
            height: 1042px;
        }
        
        .sprite-icons-monster {
            background-position: -10983px -7440px;
            width: 960px;
            height: 678px;
        }
        
        .sprite-icons-dd {
            background-position: -11943px -7440px;
            width: 700px;
            height: 326px;
        }
        
        .sprite-icons-cbh {
            background-position: -11943px -7766px;
            width: 408px;
            height: 340px;
        }
        
        .sprite-icons-9 {
            background-position: -12643px -7440px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-8 {
            background-position: -13043px -7440px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-7 {
            background-position: -12351px -7766px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-6 {
            background-position: -12751px -7766px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-5 {
            background-position: -10983px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-4 {
            background-position: -11383px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-3 {
            background-position: -11783px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-2 {
            background-position: -12183px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-14 {
            background-position: -12583px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-13 {
            background-position: -12983px -8118px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-12 {
            background-position: -9953px -8482px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-11 {
            background-position: -10353px -8482px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-10 {
            background-position: -10753px -8482px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-1 {
            background-position: -11153px -8482px;
            width: 400px;
            height: 300px;
        }
        
        .sprite-icons-loading {
            background-position: -13151px -7766px;
            width: 225px;
            height: 272px;
        }
        
        .sprite-icons-vinyl {
            background-position: -11553px -8482px;
            width: 150px;
            height: 150px;
        }
        
        .sprite-icons-hallo {
            background-position: -11703px -8482px;
            width: 145px;
            height: 144px;
        }
        
        .sprite-icons-qm {
            background-position: -13376px -7766px;
            width: 24px;
            height: 38px;
        }
        
        .sprite-icons-gradient {
            background-position: -13443px -7440px;
            width: 13px;
            height: 5px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-icons-bgcasino,
    .sprite-icons-nodots,
    .sprite-icons-machine,
    .sprite-icons-sun,
    .sprite-icons-sky,
    .sprite-icons-horse,
    .sprite-icons-6i,
    .sprite-icons-5i,
    .sprite-icons-3i,
    .sprite-icons-2i,
    .sprite-icons-1i,
    .sprite-icons-4i,
    .sprite-icons-sun1,
    .sprite-icons-monster,
    .sprite-icons-dd,
    .sprite-icons-cbh,
    .sprite-icons-9,
    .sprite-icons-8,
    .sprite-icons-7,
    .sprite-icons-6,
    .sprite-icons-5,
    .sprite-icons-4,
    .sprite-icons-3,
    .sprite-icons-2,
    .sprite-icons-14,
    .sprite-icons-13,
    .sprite-icons-12,
    .sprite-icons-11,
    .sprite-icons-10,
    .sprite-icons-1,
    .sprite-icons-loading,
    .sprite-icons-vinyl,
    .sprite-icons-hallo,
    .sprite-icons-qm,
    .sprite-icons-gradient {
                background-image: url('icons.png');
                -webkit-background-size: 13461px 11988px;
                -moz-background-size: 13461px 11988px;
                background-size: 13461px 11988px;
            }
        }
        